.App {
  text-align: center;
  height: 100vh;
}

.light-theme {
  background-color: #fff;
  color: #444444;
}

.dark-theme {
  background-color: #16012f;
  color: #f8f8f8;
}

.container-operator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  margin: auto;
}

.operator, .button-mode {
  height: 2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.character-card {
  background-color: aqua;
  width: 200px;
  height: 250px;
}